[project]
	description = This is a plugin for NewRelic that monitors `varnishstat`.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Luke Mallon (Nalum)
[access "refs/for/refs/*"]
	read = group user/Luke Mallon (Nalum)
	push = group user/Luke Mallon (Nalum)
	label-Code-Review = -2..+2 group user/Luke Mallon (Nalum)
	label-Verified = -1..+1 group user/Luke Mallon (Nalum)
	rebase = group user/Luke Mallon (Nalum)
	removeReviewer = group user/Luke Mallon (Nalum)
	submit = group user/Luke Mallon (Nalum)
[access "refs/heads/*"]
	read = group user/Luke Mallon (Nalum)
	create = group user/Luke Mallon (Nalum)
	push = +force group user/Luke Mallon (Nalum)
	pushMerge = group user/Luke Mallon (Nalum)
[access "refs/tags/*"]
	push = +force group user/Luke Mallon (Nalum)
	pushTag = group user/Luke Mallon (Nalum)
	pushSignedTag = group user/Luke Mallon (Nalum)
